/*
0-400px -> Lawngreen
401 - 599px -> blue violet
600+ ->dark red
*/

html {
  display: grid;
  place-content: center;
}

h1 {
  color: oldlace;
}

body {
  background-color: darkred;
}

@media screen and (max-width: 600px){
  body {
    background-color: blueviolet;
  }
}

@media screen and (max-width: 400px){
  body {
    background-color: lawngreen;
  }
}